@use "../../styles/mixins.scss" as *;

.dropdown-comp {
  @include flexAlign();
  gap: 8px;
  height: 42px;
  padding: 0 16px;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
